@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My Portfolio</h1>
    <p>Hi, I'm Utkrista Parajuli, a .NET developer passionate about building awesome applications.</p>
    <img src="~/images/profile.jpg" alt="Profile Photo" class="img-fluid rounded-circle" width="150" />
    <div class="mt-4">
        <a href="https://github.com/Utkrista2058" class="btn btn-primary">GitHub</a>
        <a href="https://www.linkedin.com/in/utkrista-parajuli/" class="btn btn-secondary">LinkedIn</a>
    </div>
</div>